<a href="https://colab.research.google.com/github/kellianneyang/project-exploration/blob/main/data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Grades Project: Data Cleaning

This notebook continues the work begun in the previous notebook for this project, where all .csv files associated with this dataset were merged.

The goal of this notebook is to prepare data for machine learning preprocessing. We would like to understand the data and understand what we want from the data.

This notebook will:
- Create new columns as necessary (to create new feature variables)
- Delete columns as necessary (to leave out data with high collinearity or high cardinality)
- Separate the data into three dataframes, each with its own target variable (there are multiple possible target variables that we are interested in, and will be applying our machine learning algorithms to them separately)
- Delete any rows from the dataframes that do not have values for the target variable
- Delete any duplicated rows
- Inspect missing values (missing values will NOT be imputed; this will be left for machine learning preprocessing)
- Produce univariate visuals for the target and all feature variables
- Identify outliers

## Overview


To use the data provided in this dataset (https://www.kaggle.com/datasets/Madgrades/uw-madison-courses), which is provided in multiple .csv files, for a machine learning model, we will need to merge the files to create one .csv file.

## .csv files and columns

Included in dataset as separate .csv files:
- schedules.csv: each row is a unique potential schedule
    - (schedule) uuid: unique identifier of schedules
    - start_time: start of class, in minutes
    - end_time: end of class, in minutes (drop -- high co-linearity with start_time)
    - mon: boolean, if class meets on monday
    - tues: "
    - wed: "
    - thurs: "
    - fri: "
    - sat: "
    - sun: "
      - sat and sun have very few values; combine to get more observations
- subjects.csv: each row is a unique subject
    - (subject) code: 3-digit unique identifier of subjects
    - (subject) name: name of subject
    - (subject) abbreviation: abbreviation (e.g. ENGL for English)
- teachings.csv: each row is a unique instructor
    - instructor_id: numeric unique identifier of instructor
    - section_uuid: section taught by instructor
- subject_memberships.csv: each row is a course offering (course offered in certain term; does not encompass all sections in that term)
    - subject_code: subject code associated with course offering
    - course_offering_uuid: unique identifier of course offerings
- sections.csv: each row is a section (specific instance of course at certain time in certain place in certain term)
    - (section) uuid: unique identifier of section (alphanumeric)
      - could have multiple section uuids for cross-listed sections
    - course_offering_uuid: unique identifier of course offering (course offered in certain term but encompasses all sections in that term) 
    - section_type: 3-letter identifier (e.g., LEC for lecture)
    - (section) number: 1-3-number of section (e.g., 301 for section 301)
    - room_uuid: unique identifier of room and building where section is held (including online and off-campus designations)
    - schedule_uuid: unique identifier of schedule for section
- rooms.csv: each row is a specific place
    - (room) uuid: unique identifier of building and room (inclduing off-campus and online)
    - facility_code: unique identifier of building
    - room_code: number of room within a building
- instructors.csv (will not use -- is essentially a duplicate of teachings; can use to look up instructors' names): each row is an instructor
    - (instructor) id: unique identifier of instructor
    - (instructor) name: instructor's name
- grade_distributions.csv: each row is a section's grades
    - course_offering_uuid: identifies the course offering (certain course in certain term, but not broken down into sections)
    - section_number: number of section for grades
    - a_count: number of As
    - ab_count: number of ABs (can be combined with As as needed)
    - b_count: number of Bs
    - bc_count: number of BCs (can be combined with Bs as needed)
    - c_count: number of Cs
    - d_count: number of Ds
    - f_count: number of Fs
    - s_count: satisfactory
    - u_count: unstatisfactory
    - cr_count: credit
    - n_count: no credit
    - p_count
    - i_count: incomplete
    - nw_count: no work
    - nr_count
- course_offerings.csv: each row is a course offering (course offered in certain term)
    - (course offering) uuid: unique identifier of course offering
    - course_uuid: course that the course offering belongs to
    - term_code: academic term when course offering was held
    - (course offering) name: name associate with course offering (can be different than course name)
- courses.csv: each row is a course (abstract; not associated with specific course offering)
    - (course) uuid: uniquely identifies the course
    - (course) name: name of course
    - (course) number: number in course catalog (e.g. 101 for ENGL 101)

## Feature variables

This dataset is large and has many variables we can choose from as our feature variables.

Many of the variables have a large number of unique values (high-cardinality), so we may have to drop those for our machine learning algorithm to be able to predict some variance.

We will also be combining some columns and dropping some columns for various reasons.

## Target variables

We are interested in whether the feature variables can predict variation in grades. There are many grade types given (see source: https://guide.wisc.edu/undergraduate/#enrollmentandrecordstext), but to keep the problem manageable, we will narrow down the target grades.

We will instantiate three target variables and see if machine learning algorithms can predict the variation in any of them.

1. Proportion of A grades given (of all letter grades given)
2. Proportion of F grades given (of all letter grades given)
3. Average letter grade given (letter grades: A, AB, B, BC, C, D, and F)

# Deleting unnecessary columns and creating new (necessary) ones

In [1]:
# import libraries
import pandas as pd
import seaborn as sns

In [2]:
# mount drive
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [3]:
# load data
path = '/content/drive/MyDrive/Coding Dojo/Project 2/all_grades_data.csv'
df = pd.read_csv(path, low_memory = False)

In [4]:
# inspect
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162710 entries, 0 to 162709
Data columns (total 44 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Unnamed: 0            162710 non-null  int64
 1   section_uuid          162710 non-null  object
 2   course_offering_uuid  162710 non-null  object
 3   section_type          162710 non-null  object
 4   section_number        162710 non-null  float64
 5   room_uuid             66778 non-null   object
 6   schedule_uuid         162710 non-null  object
 7   instructor_id         162682 non-null  float64
 8   facility_code         66778 non-null   object
 9   room_code             64871 non-null   object
 10  start_time            162710 non-null  float64
 11  end_time              162710 non-null  float64
 12  mon                   162710 non-null  bool
 13  tues                  162710 non-null  bool
 14  wed                   162710 non-null  bool
 15  thurs                 162710 non-null  bool
 16  fri                   162710 non-null  bool
 17  sat                   162710 non-null  bool
 18  sun                   162710 non-null  bool
 19  subject_code          162710 non-null  int64
 20  subject_name          162710 non-null  object
 21  subject_abbreviation  162710 non-null  object
 22  course_uuid           162710 non-null  object
 23  term_code             162710 non-null  float64
 24  course_offering_name  162710 non-null  object
 25  course_name           162710 non-null  object
 26  course_number         162710 non-null  float64
 27  course_and_section    162710 non-null  object
 28  a_count               162710 non-null  int64
 29  ab_count              162710 non-null  int64
 30  b_count               162710 non-null  int64
 31  bc_count              162710 non-null  int64
 32  c_count               162710 non-null  int64
 33  d_count               162710 non-null  int64
 34  f_count               162710 non-null  int64
 35  s_count               162710 non-null  int64
 36  u_count               162710 non-null  int64
 37  cr_count              162710 non-null  int64
 38  n_count               162710 non-null  int64
 39  p_count               162710 non-null  int64
 40  i_count               162710 non-null  int64
 41  nw_count              162710 non-null  int64
 42  nr_count              162710 non-null  int64
 43  other_count           162710 non-null  int64
dtypes: bool(7), float64(6), int64(18), object(13)
memory usage: 47.0+ MB

In [5]:
# inspect
df.head(10)

,Unnamed: 0,section_uuid,course_offering_uuid,section_type,section_number,room_uuid,schedule_uuid,instructor_id,facility_code,room_code,...,f_count,s_count,u_count,cr_count,n_count,p_count,i_count,nw_count,nr_count,other_count
0,0,214c946a-f56b-365b-a144-1d16049399ed,aa84af10-b176-3fdc-806b-ad7e4d45c93f,fld,1.0,NaN,f2d66a4d-0c08-3b48-abf6-649fffd7ae90,1600463.0,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
1,1,5dffed06-3e1b-309a-92c9-4b755e20a7e8,a153948c-6fec-3de3-9a6d-3a7210340815,fld,10.0,NaN,f2d66a4d-0c08-3b48-abf6-649fffd7ae90,693634.0,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2,2,e3718659-dd65-30d3-987c-6b4092e85d72,a153948c-6fec-3de3-9a6d-3a7210340815,fld,13.0,NaN,f2d66a4d-0c08-3b48-abf6-649fffd7ae90,590599.0,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3,3,24085c2b-1756-320d-971a-a8cf64a78db0,a153948c-6fec-3de3-9a6d-3a7210340815,fld,14.0,NaN,f2d66a4d-0c08-3b48-abf6-649fffd7ae90,664097.0,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
4,4,2187b6fd-09fb-3bce-92cf-e86978c295e1,684d5dd7-5964-33ef-81e5-d4070e7b7013,fld,18.0,NaN,f2d66a4d-0c08-3b48-abf6-649fffd7ae90,2600979.0,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
5,5,812ccf3d-adf8-369c-954a-5beae39db404,684d5dd7-5964-33ef-81e5-d4070e7b7013,fld,13.0,NaN,f2d66a4d-0c08-3b48-abf6-649fffd7ae90,590599.0,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
6,6,cf401f5b-dc6b-3336-96d9-5ba4bbe049a7,36ab1e06-94ef-363f-841c-0e923bfbdac7,fld,10.0,NaN,f2d66a4d-0c08-3b48-abf6-649fffd7ae90,693634.0,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
7,7,f98aa8e6-51b7-35f0-b529-0048d4581bf3,36ab1e06-94ef-363f-841c-0e923bfbdac7,fld,14.0,NaN,f2d66a4d-0c08-3b48-abf6-649fffd7ae90,664097.0,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
8,8,bbe3a638-eebb-380f-9d17-585f6ff37040,aeef8e65-6b2c-3c7a-aeba-3f594b9255df,fld,35.0,NaN,f2d66a4d-0c08-3b48-abf6-649fffd7ae90,4847746.0,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
9,9,96049783-b9b5-3650-b215-21d4ee5a39d4,aeef8e65-6b2c-3c7a-aeba-3f594b9255df,fld,14.0,NaN,f2d66a4d-0c08-3b48-abf6-649fffd7ae90,664097.0,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

In [6]:
# see list of all columns
df.columns

Index(['Unnamed: 0', 'section_uuid', 'course_offering_uuid', 'section_type',
       'section_number', 'room_uuid', 'schedule_uuid', 'instructor_id',
       'facility_code', 'room_code', 'start_time', 'end_time', 'mon', 'tues',
       'wed', 'thurs', 'fri', 'sat', 'sun', 'subject_code', 'subject_name',
       'subject_abbreviation', 'course_uuid', 'term_code',
       'course_offering_name', 'course_name', 'course_number',
       'course_and_section', 'a_count', 'ab_count', 'b_count', 'bc_count',
       'c_count', 'd_count', 'f_count', 's_count', 'u_count', 'cr_count',
       'n_count', 'p_count', 'i_count', 'nw_count', 'nr_count', 'other_count'],
      dtype='object')

In [7]:
# drop 'Unnamed: 0' (repeat of the index)
df.drop(columns = 'Unnamed: 0',
        inplace = True)

In [8]:
# check
df.columns

Index(['section_uuid', 'course_offering_uuid', 'section_type',
       'section_number', 'room_uuid', 'schedule_uuid', 'instructor_id',
       'facility_code', 'room_code', 'start_time', 'end_time', 'mon', 'tues',
       'wed', 'thurs', 'fri', 'sat', 'sun', 'subject_code', 'subject_name',
       'subject_abbreviation', 'course_uuid', 'term_code',
       'course_offering_name', 'course_name', 'course_number',
       'course_and_section', 'a_count', 'ab_count', 'b_count', 'bc_count',
       'c_count', 'd_count', 'f_count', 's_count', 'u_count', 'cr_count',
       'n_count', 'p_count', 'i_count', 'nw_count', 'nr_count', 'other_count'],
      dtype='object')

## Grades

Our target variables will be 'a_proportion', 'f_proportion', and 'avg_grade'. We will calculate and create these with our existing data and then drop the other grade counts columns.

Information from the University of Wisconsin's website about grades can be found here: https://guide.wisc.edu/undergraduate/#enrollmentandrecordstext

Grades:
- a, ab, b, bc, c, d, f - letter grades
  - ab - intermediate grade between a and b
  - bc - intermediate grade between b and c
- s - satisfactory, used in pass/fail courses
- u - unsatisfactory, used in pass/fail courses
- cr - credit, used in credit/no credit courses
- n - no credit, used in credit/no credit courses
- p - progress: temporary grade used for courses extending beyond one term
- i - incomplete: temporary grade used when work is not completed during a term
- nw - no work: for students who enroll in a course and then never attend
- nr - no report: a grade was not submitted by the instructor
- other - any one of several other grading codes

For a preliminary machine learning attempt with this data, we are interested in predicting any one of the following:
1. the number of As as a proportion of total letter grades
2. the number of Fs as a proportion of total letter grades
3. the average letter grade 

To keep the problem simple, we will only count letter grades given in each course. Although the dataset provides counts for some other grade types (S, U, N, CR, etc.), we are interested in the letter grades given (A, AB, B, BC, C, D, and F). So, we will drop the columns representing other grade types. 

To calculate this number, we will change our dataframe (grades_df) to end up with the following columns:
- course_offering_uuid (unchanged)
- section_number (unchanged)
- a_proportion (number of a grades / number of total grades given per row)
- f_proportion (number of f grades / number of total grades given per row)
- average_grade ((sum of letters * points) / number of total grades given per row); points as follows:
  - a: 4.0
  - ab: 3.5
  - b: 3.0
  - bc: 2.5
  - c: 2.0
  - d: 1.0
  - f: 0.0

In [9]:
# drop following grade counts columns (we are only interested in letter grades at this point):
df.drop(columns = ['s_count', 'u_count', 'cr_count', 'n_count', 'p_count', 'i_count', 'nw_count', 'nr_count', 'other_count'], inplace = True)

In [10]:
# for every row in grades_df:
for i in range(len(df)):

  # assign variable num_a to the 'a_count' value
  num_a = df.at[i, 'a_count']

  # assign variable num_f to the 'f_count' value
  num_f = df.at[i, 'f_count']

  # assign variable num_all_grades to the sum of all letter grade counts
  num_a = df.at[i, 'a_count']
  num_ab = df.at[i, 'ab_count']
  num_b = df.at[i, 'b_count']
  num_bc = df.at[i, 'bc_count']
  num_c = df.at[i, 'c_count']
  num_d = df.at[i, 'd_count']
  num_f = df.at[i, 'f_count']

  num_all_grades = num_a + num_ab + num_b + num_bc + num_c + num_d + num_f

  # create column for num_all_grades to easily be able to delete courses where no grades were recorded
  df.at[i, 'num_all_grades'] = num_all_grades

  # if num_all_grades is not 0 (we want to exclude rows where there are no recorded grades)
  if num_all_grades != 0:

    # calculate the a_proportion & assign to grades_df
    a_proportion = (num_a) / (num_all_grades)
    df.at[i, 'a_proportion'] = a_proportion

    # calculate the f_proportion & assign to grades_df
    f_proportion = (num_f) / (num_all_grades)
    df.at[i, 'f_proportion'] = f_proportion

    # calculate the average grade & assign to grades_df
    avg_grade = ((num_a * 4.0) + (num_ab * 3.5) + (num_b * 3.0) + (num_bc * 2.5) + (num_c * 2.0) + (num_d * 1.0)) / num_all_grades
    df.at[i, 'avg_grade'] = avg_grade

In [11]:
# how to do above action without a for loop?

# this way doesn't prevent divide-by-zero error if there are no grades recorded
# put in if statement?
'''
grades_df['a_proportion] = grades_df['a_count'] / \
                            (grades_df['a_count'] +
                             grades_df['ab_count'] +
                             grades_df['b_count'] +
                             grades_df['bc_count'] +
                             grades_df['c_count'] +
                             grades_df['d_count'] +
                             grades_df['f_count']) if (grades_df['a_count'] +
                                                        grades_df['ab_count'] +
                                                        grades_df['b_count'] +
                                                        grades_df['bc_count'] +
                                                        grades_df['c_count'] +
                                                        grades_df['d_count'] +
                                                        grades_df['f_count']) != 0
'''
'''
grades_df['a_proportion'] = grades_df['a_count'] / \
                            (grades_df['a_count'] +
                             grades_df['ab_count'] +
                             grades_df['b_count'] +
                             grades_df['bc_count'] +
                             grades_df['c_count'] +
                             grades_df['d_count'] +
                             grades_df['f_count'])

grades_df['f_proportion'] = grades_df['f_count'] / \
                            (grades_df['a_count'] +
                             grades_df['ab_count'] +
                             grades_df['b_count'] +
                             grades_df['bc_count'] +
                             grades_df['c_count'] +
                             grades_df['d_count'] +
                             grades_df['f_count'])

grades_df['avg_grade'] = ( (grades_df['a_count'] * 4.0) +
                           (grades_df['ab_count'] * 3.5) +
                           (grades_df['b_count'] * 3.0) +
                           (grades_df['bc_count'] * 2.5) +
                           (grades_df['c_count'] * 2.0) +
                           (grades_df['d_count'] * 1.0) +
                           (grades_df['f_count'] * 0.0) ) / \
                         (  grades_df['a_count'] +
                            grades_df['ab_count'] +
                            grades_df['b_count'] +
                            grades_df['bc_count'] +
                            grades_df['c_count'] +
                            grades_df['d_count'] +
                            grades_df['f_count'] )
'''

"\ngrades_df['a_proportion'] = grades_df['a_count'] /                             (grades_df['a_count'] +\n                             grades_df['ab_count'] +\n                             grades_df['b_count'] +\n                             grades_df['bc_count'] +\n                             grades_df['c_count'] +\n                             grades_df['d_count'] +\n                             grades_df['f_count'])\n\ngrades_df['f_proportion'] = grades_df['f_count'] /                             (grades_df['a_count'] +\n                             grades_df['ab_count'] +\n                             grades_df['b_count'] +\n                             grades_df['bc_count'] +\n                             grades_df['c_count'] +\n                             grades_df['d_count'] +\n                             grades_df['f_count'])\n\ngrades_df['avg_grade'] = ( (grades_df['a_count'] * 4.0) +\n                           (grades_df['ab_count'] * 3.5) +\n                           (grades_df['b_count'] * 3.0) +\n                           (grades_df['bc_count'] * 2.5) +\n                           (grades_df['c_count'] * 2.0) +\n                           (grades_df['d_count'] * 1.0) +\n                           (grades_df['f_count'] * 0.0) ) /                          (  grades_df['a_count'] +\n                            grades_df['ab_count'] +\n                            grades_df['b_count'] +\n                            grades_df['bc_count'] +\n                            grades_df['c_count'] +\n                            grades_df['d_count'] +\n                            grades_df['f_count'] )\n"

In [12]:
# check
df.columns

Index(['section_uuid', 'course_offering_uuid', 'section_type',
       'section_number', 'room_uuid', 'schedule_uuid', 'instructor_id',
       'facility_code', 'room_code', 'start_time', 'end_time', 'mon', 'tues',
       'wed', 'thurs', 'fri', 'sat', 'sun', 'subject_code', 'subject_name',
       'subject_abbreviation', 'course_uuid', 'term_code',
       'course_offering_name', 'course_name', 'course_number',
       'course_and_section', 'a_count', 'ab_count', 'b_count', 'bc_count',
       'c_count', 'd_count', 'f_count', 'num_all_grades', 'a_proportion',
       'f_proportion', 'avg_grade'],
      dtype='object')

In [13]:
# check
df[['a_proportion', 'f_proportion', 'avg_grade']].sample(10)

        a_proportion  f_proportion  avg_grade
151926      0.500000      0.000000   3.333333
96017            NaN           NaN        NaN
105814      0.583333      0.000000   3.791667
41672            NaN           NaN        NaN
51252            NaN           NaN        NaN
26890            NaN           NaN        NaN
62644            NaN           NaN        NaN
37094       0.352941      0.000000   3.441176
139442      0.333333      0.047619   3.285714
24731            NaN           NaN        NaN

In [14]:
# drop rest of grades columns
df.drop(columns = ['a_count', 'ab_count', 'b_count', 'bc_count', 'c_count', 
                   'd_count', 'f_count', 'num_all_grades'],
        inplace = True)

In [15]:
# check
df.columns

Index(['section_uuid', 'course_offering_uuid', 'section_type',
       'section_number', 'room_uuid', 'schedule_uuid', 'instructor_id',
       'facility_code', 'room_code', 'start_time', 'end_time', 'mon', 'tues',
       'wed', 'thurs', 'fri', 'sat', 'sun', 'subject_code', 'subject_name',
       'subject_abbreviation', 'course_uuid', 'term_code',
       'course_offering_name', 'course_name', 'course_number',
       'course_and_section', 'a_proportion', 'f_proportion', 'avg_grade'],
      dtype='object')

In [16]:
# delete rows that don't have any values for any of the three target
# variable columns
df.dropna(subset = ['a_proportion', 'f_proportion', 'avg_grade'], 
          how = 'all', 
          inplace = True)

In [17]:
# check
df.shape

(64186, 30)

## 'term_code'

The current 'term_code' column gives a 4-digit code indicating the term the course was offered in.

'term_code':
- first digit always 1 (21st century)
- second two digits academic year (from 07 to 18; year that the academic year ends in summer)
- fourth digit term (2 = fall, 4 = spring, 6 = summer)

Source: https://kb.wisc.edu/registrar/117776

In [18]:
df.reset_index(inplace = True, drop = True)

In [19]:
# inspect
df['term_code'].value_counts(dropna = False)
# data includes years '07' to '18' and only fall (2) and spring (4) terms

1072.0    3141
1082.0    3055
1092.0    3047
1102.0    3042
1074.0    3006
1152.0    3001
1122.0    2966
1132.0    2946
1112.0    2939
1142.0    2925
1084.0    2921
1162.0    2901
1172.0    2891
1104.0    2869
1094.0    2864
1134.0    2845
1182.0    2832
1114.0    2828
1144.0    2816
1154.0    2810
1164.0    2776
1174.0    2765
Name: term_code, dtype: int64

We will split 'term_code' into one column for year (numeric, 7-18) and one for term (nominal, fall or spring)

In [20]:
# iterate through all rows in df
for i in range(len(df)):

  # create string of 'term_code' for indexing
  string = df.at[i, 'term_code'].astype(str)

  # make sure string is 4 or more characters long
  if len(string) >= 4:

    # assign 'year' as the middle two characters in the string
    df.at[i, 'year'] = string[1:3]

    # if string ends in 2
    if string[3] == '2':

      # assign 'term' as 'fall'
      df.at[i, 'term'] = 'fall'
  
    # else
    else:

      # assign 'term' as 'spring'
      df.at[i, 'term'] = 'spring'

In [21]:
# how to do above actions without a for loop?
# this doesn't work

# df['year'] = df['term_code'].astype(str)[1:3]
# df['term'] = df['term_code'].astype(str)[3]

In [22]:
# check
print(df['year'].value_counts(dropna = False))
print(df['term'].value_counts(dropna = False))

07    6147
08    5976
10    5911
09    5911
15    5811
13    5791
11    5767
14    5741
16    5677
17    5656
12    2966
18    2832
Name: year, dtype: int64
fall      35686
spring    28500
Name: term, dtype: int64

In [23]:
# drop 'term_code' as it is now redundant
df.drop(columns = 'term_code', inplace = True)

In [24]:
# check
df.columns

Index(['section_uuid', 'course_offering_uuid', 'section_type',
       'section_number', 'room_uuid', 'schedule_uuid', 'instructor_id',
       'facility_code', 'room_code', 'start_time', 'end_time', 'mon', 'tues',
       'wed', 'thurs', 'fri', 'sat', 'sun', 'subject_code', 'subject_name',
       'subject_abbreviation', 'course_uuid', 'course_offering_name',
       'course_name', 'course_number', 'course_and_section', 'a_proportion',
       'f_proportion', 'avg_grade', 'year', 'term'],
      dtype='object')

## Rooms and buildings

Every room_uuid has a facility_code which indicates a building, and a room_code which indicates a room in the building. We will drop the room_code column because it is likely a high-cardinality variable, since there are many, many rooms on campus. We will keep the building (facility_code).

In [25]:
# pd.set_option('display.max_rows', None)

In [26]:
df.drop(columns = ['room_uuid', 'room_code'], inplace = True)

In [27]:
# check
df.columns

Index(['section_uuid', 'course_offering_uuid', 'section_type',
       'section_number', 'schedule_uuid', 'instructor_id', 'facility_code',
       'start_time', 'end_time', 'mon', 'tues', 'wed', 'thurs', 'fri', 'sat',
       'sun', 'subject_code', 'subject_name', 'subject_abbreviation',
       'course_uuid', 'course_offering_name', 'course_name', 'course_number',
       'course_and_section', 'a_proportion', 'f_proportion', 'avg_grade',
       'year', 'term'],
      dtype='object')

## Schedules

'start_time' and 'end_time' will probably have a high degree of co-linearity due to many classes being on a fixed schedule. So, we can drop 'end_time'. 

But, we are interested in if the length of a class may explain some variance in the grades earned, so first we will calculate 'class_length'. 'class_length' will represent the length of the class in minutes on any day of the week that the class meets (if class meets from 9:00am to 9:50am on MWF, 'class_length' will be 50 minutes)). 

We are also interested in if the total contact time (per week) may explain some variance. So we will calculate 'total_time', which will be the 'class_length' multiplied by the number of classes per week (so if class meets from 9:00am to 9:50am on MWF, 'total_time' will be 150 minutes).

In [28]:
# 'class_length'
df['class_length'] = df['end_time'] - df['start_time']

In [29]:
df.reset_index(inplace = True, drop = True)

In [30]:
df.dtypes

section_uuid             object
course_offering_uuid     object
section_type             object
section_number          float64
schedule_uuid            object
instructor_id           float64
facility_code            object
start_time              float64
end_time                float64
mon                        bool
tues                       bool
wed                        bool
thurs                      bool
fri                        bool
sat                        bool
sun                        bool
subject_code              int64
subject_name             object
subject_abbreviation     object
course_uuid              object
course_offering_name     object
course_name              object
course_number           float64
course_and_section       object
a_proportion            float64
f_proportion            float64
avg_grade               float64
year                     object
term                     object
class_length            float64
dtype: object

In [31]:
# in order to calculate total_time, we will need to convert the boolean columns 
# into object columns
for day in ['mon', 'tues', 'wed', 'thurs', 'fri', 'sat', 'sun']:
  df[day] = df[day].astype(object)

In [32]:
# check
df.dtypes

section_uuid             object
course_offering_uuid     object
section_type             object
section_number          float64
schedule_uuid            object
instructor_id           float64
facility_code            object
start_time              float64
end_time                float64
mon                      object
tues                     object
wed                      object
thurs                    object
fri                      object
sat                      object
sun                      object
subject_code              int64
subject_name             object
subject_abbreviation     object
course_uuid              object
course_offering_name     object
course_name              object
course_number           float64
course_and_section       object
a_proportion            float64
f_proportion            float64
avg_grade               float64
year                     object
term                     object
class_length            float64
dtype: object

In [33]:
# 'total_time'
df['total_time'] = df['class_length'] * (df['mon'] + df['tues'] + df['wed'] + df['thurs'] + df['fri'] + df['sat'] + df['sun'])

In [34]:
# check
df[['total_time', 'class_length']]

      total_time  class_length
0            0.0           0.0
1            0.0           0.0
2            0.0           0.0
3            0.0           0.0
4            0.0           0.0
...          ...           ...
64181      150.0          50.0
64182      150.0          50.0
64183      150.0          50.0
64184      150.0          50.0
64185      130.0          65.0

[64186 rows x 2 columns]

In [35]:
# check
df['total_time'] = df['total_time'].astype(int)

Check value_counts for days of the week

In [36]:
for day in ['mon', 'tues', 'wed', 'thurs', 'fri', 'sat', 'sun']:
  print(df[day].value_counts())

False    36546
True     27640
Name: mon, dtype: int64
False    36954
True     27232
Name: tues, dtype: int64
False    37056
True     27130
Name: wed, dtype: int64
False    38275
True     25911
Name: thurs, dtype: int64
False    48729
True     15457
Name: fri, dtype: int64
False    62543
True      1643
Name: sat, dtype: int64
False    64121
True        65
Name: sun, dtype: int64

Combine classes that meet on weekends into one category to increase number of counts.

In [37]:
df['mon'].dtype

dtype('O')

In [38]:
# how to make this section of code fewer lines (with an or statement?)

for i in range(len(df)):
  if df.at[i, 'sat'] == True:
    df.at[i, 'weekend'] = 'True'
  elif df.at[i, 'sun'] == True:
    df.at[i, 'weekend'] = 'True'
  else:
    df.at[i, 'weekend'] = 'False'

In [39]:
'''
# how to do above without a for loop?

if df['sat'] == True:
  df['weekend'] = True
elif df['sun'] == True:
  df['weekend'] = True
else:
  df['weekend'] = False
'''

"\n# how to do above without a for loop?\n\nif df['sat'] == True:\n  df['weekend'] = True\nelif df['sun'] == True:\n  df['weekend'] = True\nelse:\n  df['weekend'] = False\n"

In [40]:
# check
df['weekend'].value_counts()

False    62503
True      1683
Name: weekend, dtype: int64

In [41]:
# delete 'sat' and 'sun' classes (highly correlated with 'weekend'), and
# 'end_time' (highly correlated with 'start_time' and 'class_length')
df.drop(columns = ['sat', 'sun', 'end_time'], inplace = True)

In [42]:
# check
df.columns

Index(['section_uuid', 'course_offering_uuid', 'section_type',
       'section_number', 'schedule_uuid', 'instructor_id', 'facility_code',
       'start_time', 'mon', 'tues', 'wed', 'thurs', 'fri', 'subject_code',
       'subject_name', 'subject_abbreviation', 'course_uuid',
       'course_offering_name', 'course_name', 'course_number',
       'course_and_section', 'a_proportion', 'f_proportion', 'avg_grade',
       'year', 'term', 'class_length', 'total_time', 'weekend'],
      dtype='object')

In [43]:
# drop 'schedule_uuid'; it correlates with the other schedule variables
df.drop(columns = 'schedule_uuid', inplace = True)

In [44]:
# check
df.columns

Index(['section_uuid', 'course_offering_uuid', 'section_type',
       'section_number', 'instructor_id', 'facility_code', 'start_time', 'mon',
       'tues', 'wed', 'thurs', 'fri', 'subject_code', 'subject_name',
       'subject_abbreviation', 'course_uuid', 'course_offering_name',
       'course_name', 'course_number', 'course_and_section', 'a_proportion',
       'f_proportion', 'avg_grade', 'year', 'term', 'class_length',
       'total_time', 'weekend'],
      dtype='object')

## Subjects

Delete 'subject_abbreviations' and 'subject_codes', as these are repeats of the 'subject_name' column.

In [45]:
df.drop(columns = ['subject_code', 'subject_abbreviation'], inplace = True)

In [46]:
# check
df.columns

Index(['section_uuid', 'course_offering_uuid', 'section_type',
       'section_number', 'instructor_id', 'facility_code', 'start_time', 'mon',
       'tues', 'wed', 'thurs', 'fri', 'subject_name', 'course_uuid',
       'course_offering_name', 'course_name', 'course_number',
       'course_and_section', 'a_proportion', 'f_proportion', 'avg_grade',
       'year', 'term', 'class_length', 'total_time', 'weekend'],
      dtype='object')

## Course number

In [47]:
df['course_number'].describe()

count    64186.000000
mean       446.496713
std        258.355618
min          1.000000
25%        223.000000
50%        400.000000
75%        676.000000
max        999.000000
Name: course_number, dtype: float64

The 'course_number' column includes numbers in the following ranges:
- below 100: below college-level
- 100-299: elementary (undergraduate students only)
- 300-499: intermediate (grad & undergrad)
- 500-699: advanced (grad & undergrad)
- 700+: graduate students only

Source: https://grad.wisc.edu/documents/course-numbering-system/

We will split up the courses into these ranges to reduce the cardinality of the variable.

We will drop the below college-level and graduate student only courses and retain just courses that are elementary, intermediate, or advanced, and that undergraduate students may take. (But we will wait until after merging with big_df to do so, so that we delete the other information for these courses as well.)

In [48]:
for i in range(len(df)):
  if df.at[i, 'course_number'] < 100:
    df.at[i, 'course_difficulty'] = 'below level'
  elif df.at[i, 'course_number'] < 300:
    df.at[i, 'course_difficulty'] = 'elementary'
  elif df.at[i, 'course_number'] < 500:
    df.at[i, 'course_difficulty'] = 'intermediate'
  elif df.at[i, 'course_number'] < 700:
    df.at[i, 'course_difficulty'] = 'advanced'
  elif df.at[i, 'course_number'] >= 700:
    df.at[i, 'course_difficulty'] = 'grad level'

In [49]:
# how to do above action without a for loop?
# courses_df['course_difficulty'] = 'below level' if courses_df['course_difficulty] < 100 else pass
# courses_df['course_difficulty'] = 'elementary' if courses_df['course_difficulty] < 300 else pass
# courses_df['course_difficulty'] = 'intermediate' if courses_df['course_difficulty] < 500 else pass
# courses_df['course_difficulty'] = 'advanced' if courses_df['course_difficulty] < 700 else pass
# courses_df['course_difficulty'] = 'grad level' if courses_df['course_difficulty] >= 700 else pass

In [50]:
# check
df['course_difficulty'].value_counts()

elementary      19562
intermediate    18574
grad level      14130
advanced        11355
below level       565
Name: course_difficulty, dtype: int64

In [51]:
# we are only interested in 'elementary', 'intermediate', and 'advanced' courses
df.drop(df[(df['course_difficulty'] == 'below level') | 
           (df['course_difficulty'] == 'grad level')].index, 
        inplace = True)

In [52]:
# check
df['course_difficulty'].value_counts()

elementary      19562
intermediate    18574
advanced        11355
Name: course_difficulty, dtype: int64

In [53]:
# drop course_number column
df.drop(columns = 'course_number', inplace = True)

In [54]:
# check
df.columns

Index(['section_uuid', 'course_offering_uuid', 'section_type',
       'section_number', 'instructor_id', 'facility_code', 'start_time', 'mon',
       'tues', 'wed', 'thurs', 'fri', 'subject_name', 'course_uuid',
       'course_offering_name', 'course_name', 'course_and_section',
       'a_proportion', 'f_proportion', 'avg_grade', 'year', 'term',
       'class_length', 'total_time', 'weekend', 'course_difficulty'],
      dtype='object')

## course_uuid

In [55]:
# can drop 'course_uuid' column because it should match up with 'course_name' column
df.drop(columns = 'course_uuid', inplace = True)

In [56]:
# check
df.columns

Index(['section_uuid', 'course_offering_uuid', 'section_type',
       'section_number', 'instructor_id', 'facility_code', 'start_time', 'mon',
       'tues', 'wed', 'thurs', 'fri', 'subject_name', 'course_offering_name',
       'course_name', 'course_and_section', 'a_proportion', 'f_proportion',
       'avg_grade', 'year', 'term', 'class_length', 'total_time', 'weekend',
       'course_difficulty'],
      dtype='object')

### Reduce cardinality in instructor_id (binning):
- Group instructors who have taught less than 20 sections into one group.

In [57]:
print(len(df['instructor_id']))
print(len(df))

49491
49491

In [58]:
print(df['instructor_id'].value_counts())

566960.0     132
496397.0     106
2601912.0     89
2601706.0     85
319547.0      81
            ...
4716883.0      1
4721762.0      1
3375280.0      1
3457484.0      1
900462.0       1
Name: instructor_id, Length: 7106, dtype: int64

In [59]:
# create empty list to store instructor_ids
instructor_20_list = []

# iterate over values and counts in 'instructor_id'
for value, count in df['instructor_id'].value_counts().items():
  
  # if count is more than 20 (i.e. instructor taught more than 20 sections)
  if count > 20:
    
    # append to list
    instructor_20_list.append(value)

# this is the number of instructor_ids who taught more than 20 sections
print(len(instructor_20_list))
print(type(instructor_20_list))
print(instructor_20_list[:20])

521
<class 'list'>
[566960.0, 496397.0, 2601912.0, 2601706.0, 319547.0, 157057.0, 663146.0, 783847.0, 2601527.0, 623858.0, 4232086.0, 309711.0, 464468.0, 1005245.0, 980056.0, 3013497.0, 412406.0, 3615604.0, 3216300.0, 2601502.0]

In [60]:
# assign new column where 'instructor_id' is copied if instructor taught more
# than 20 sections, and where 'other' if not

df.loc[~df['instructor_id'].isin(instructor_20_list), 'instructor_id'] = 'other'

In [61]:
# check
df['instructor_id'].sample(10)

40799        other
7176     3574850.0
56102        other
38478     912304.0
14285    3368498.0
14903        other
33122    2601762.0
17955     818841.0
24565        other
1075         other
Name: instructor_id, dtype: object

In [62]:
# how many unique values now in 'instructor_id_250?
df['instructor_id'].nunique()

# this can be played with later to see if higher cardinality will help the model

522

### Reduce cardinality in course_name (binning):

In [63]:
# how many unique values are in 'course_name'?
df['course_name'].nunique()

3771

In [64]:
# look at value_counts
df['course_name'].value_counts()

introduction to speech composition                                               997
special topics                                                                   705
freshman composition                                                             652
third semester spanish                                                           463
intermediate language practice with emphasis on writing and grammar              459
                                                                                ...
contemporary skill set literature in french                                        1
elementary student teaching seminar - elementary/special education dual major      1
seminar in electrical and computer engineering                                     1
the history of evolutionary thought                                                1
soccer ii                                                                          1
Name: course_name, Length: 3771, dtype: int64

In [65]:
# create empty list to store course_names
course_name_20_list = []

# iterate over values and counts in 'course_name'
for value, count in df['course_name'].value_counts().items():
  
  # if count is more than 20 (i.e. course has been taught more than 50 times)
  if count > 20:
    
    # append to list
    course_name_20_list.append(value)

# this is the number of courses that have been taught more than 20 times
print(len(course_name_20_list))

521

In [66]:
# assign new column where 'course_name' is copied if course was taught more
# than 20 times, and where 'other' if not
df.loc[~df['course_name'].isin(course_name_20_list), 'course_name'] = 'other'

In [67]:
# check
df['course_name'].sample(10)

54534                             introduction to painting
54160                                            drawing i
1882                                        ensemble-brass
27186                                                other
19182                           topics in hispanic culture
44195       advanced laboratory techniques in microbiology
25075              introduction to international relations
25435                            topics-finite mathematics
15166                             strategic media planning
20992    human resources development: educational effec...
Name: course_name, dtype: object

In [68]:
# how many unique values now in 'course_name'?
df['course_name'].nunique()

# this can be played with later to see if higher cardinality will help the model

522

### Drop course_offering_name and course_offering_uuid

In [69]:
# course_offering_name may be correlated with course_name, so we will drop it for now
# course_offering_uuid will not predict grades, so we will drop it for now
df.drop(columns = ['course_offering_name', 'course_offering_uuid'], inplace = True)

In [70]:
# check
df.columns

Index(['section_uuid', 'section_type', 'section_number', 'instructor_id',
       'facility_code', 'start_time', 'mon', 'tues', 'wed', 'thurs', 'fri',
       'subject_name', 'course_name', 'course_and_section', 'a_proportion',
       'f_proportion', 'avg_grade', 'year', 'term', 'class_length',
       'total_time', 'weekend', 'course_difficulty'],
      dtype='object')

### section_uuid, section_number

In [71]:
#drop section_uuid, section_number, and grades_section_number because
# they will not be predictive of grades
df.drop(columns = ['section_uuid', 'section_number'], inplace = True)

In [72]:
# check
df.columns

Index(['section_type', 'instructor_id', 'facility_code', 'start_time', 'mon',
       'tues', 'wed', 'thurs', 'fri', 'subject_name', 'course_name',
       'course_and_section', 'a_proportion', 'f_proportion', 'avg_grade',
       'year', 'term', 'class_length', 'total_time', 'weekend',
       'course_difficulty'],
      dtype='object')

## Final checks

In [73]:
# check unique values and value_counts()
for col in df.columns:
  print(f"{col}:")
  print(f"unique values: {df[col].nunique()}")
  print(f"value counts: \n{df[col].value_counts(dropna = False)}")
  print()

section_type:
unique values: 6
value counts:
lec    39207
lab     4810
sem     2570
ind     2113
fld      549
dis      242
Name: section_type, dtype: int64

instructor_id:
unique values: 522
value counts:
other        32772
566960.0       132
496397.0       106
2601912.0       89
2601706.0       85
             ...
537957.0        21
475025.0        21
367808.0        21
172570.0        21
4131298.0       21
Name: instructor_id, Length: 522, dtype: int64

facility_code:
unique values: 119
value counts:
0482     7447
0469     4561
NaN      3837
0140     3446
0408     2532
         ...
0039        1
0084b       1
0033        1
1400g       1
1400e       1
Name: facility_code, Length: 120, dtype: int64

start_time:
unique values: 118
value counts:
 660.0     7599
 800.0     4392
 595.0     4315
-1.0       3976
 870.0     3628
           ...
 925.0        1
 665.0        1
 1055.0       1
 1040.0       1
 550.0        1
Name: start_time, Length: 118, dtype: int64

mon:
unique values: 2
value counts:
False    26994
True     22497
Name: mon, dtype: int64

tues:
unique values: 2
value counts:
False    27588
True     21903
Name: tues, dtype: int64

wed:
unique values: 2
value counts:
False    27614
True     21877
Name: wed, dtype: int64

thurs:
unique values: 2
value counts:
False    28450
True     21041
Name: thurs, dtype: int64

fri:
unique values: 2
value counts:
False    36937
True     12554
Name: fri, dtype: int64

subject_name:
unique values: 180
value counts:
spanish (spanish and portuguese)                 2965
english                                          2796
communication arts                               1907
art department                                   1795
mathematics                                      1746
                                                 ...
medical sciences - medical school                   2
pharmacy                                            2
animal health and biomedical sciences               2
molecular and environmental toxicology center       1
agroecology                                         1
Name: subject_name, Length: 180, dtype: int64

course_name:
unique values: 522
value counts:
other                                 20226
introduction to speech composition      997
special topics                          705
freshman composition                    652
third semester spanish                  463
                                      ...
signals and systems                      21
electronic circuits i                    21
principles of risk management            21
electrodynamics i                        21
biomedical engineering design            21
Name: course_name, Length: 522, dtype: int64

course_and_section:
unique values: 49491
value counts:
cf726c33-a4b3-3bd6-8cb9-ec403ccb72cd_37.0    1
0b31b30e-13b0-3890-8688-31721aa50dcc_5.0     1
9efb3559-53cc-3176-adbc-d77092839e8b_1.0     1
ddd3ca2b-7250-35b6-8c3e-e2f7f4c4ba96_3.0     1
ddd3ca2b-7250-35b6-8c3e-e2f7f4c4ba96_4.0     1
                                            ..
e9ba2c66-91ac-37b0-ab85-3b53a152f16b_1.0     1
38454dd0-9e95-3210-97cc-f367829f8420_43.0    1
38454dd0-9e95-3210-97cc-f367829f8420_42.0    1
38454dd0-9e95-3210-97cc-f367829f8420_5.0     1
eac3aacc-ec57-314e-b6dd-bfa0767c72a2_1.0     1
Name: course_and_section, Length: 49491, dtype: int64

a_proportion:
unique values: 4137
value counts:
1.000000    6040
0.500000    1573
0.333333    1100
0.666667     883
0.250000     737
            ...
0.429688       1
0.487500       1
0.362903       1
0.269608       1
0.061728       1
Name: a_proportion, Length: 4137, dtype: int64

f_proportion:
unique values: 1308
value counts:
0.000000    40149
0.050000      228
0.045455      218
0.052632      208
0.055556      205
            ...
0.023913        1
0.018789        1
0.011583        1
0.013263        1
0.035897        1
Name: f_proportion, Length: 1308, dtype: int64

avg_grade:
unique values: 6955
value counts:
4.000000    6040
3.500000    1278
3.750000     789
3.833333     553
3.666667     545
            ...
3.638075       1
3.480565       1
2.840206       1
3.819767       1
3.210227       1
Name: avg_grade, Length: 6955, dtype: int64

year:
unique values: 12
value counts:
07    4731
08    4563
11    4537
09    4523
10    4514
14    4493
13    4466
15    4441
16    4382
17    4316
12    2297
18    2228
Name: year, dtype: int64

term:
unique values: 2
value counts:
fall      27725
spring    21766
Name: term, dtype: int64

class_length:
unique values: 61
value counts:
50.0     19310
75.0     15426
0.0       3976
150.0     3374
120.0     2021
         ...
340.0        1
325.0        1
113.0        1
40.0         1
520.0        1
Name: class_length, Length: 61, dtype: int64

total_time:
unique values: 90
value counts:
150    25221
100     5315
0       3982
200     3134
300     1764
       ...
113        1
380        1
650        1
340        1
290        1
Name: total_time, Length: 90, dtype: int64

weekend:
unique values: 2
value counts:
False    49223
True       268
Name: weekend, dtype: int64

course_difficulty:
unique values: 3
value counts:
elementary      19562
intermediate    18574
advanced        11355
Name: course_difficulty, dtype: int64

In [74]:
# course_and_section is uniquely identifying each row, so it can be dropped
df.drop(columns = 'course_and_section', inplace = True)

In [75]:
# check cardinality
for col in df.columns:
  print(col)
  print(df[col].nunique())
  print()

# except for the target variables, all of the columns have a number of unique values less than 450

section_type
6

instructor_id
522

facility_code
119

start_time
118

mon
2

tues
2

wed
2

thurs
2

fri
2

subject_name
180

course_name
522

a_proportion
4137

f_proportion
1308

avg_grade
6955

year
12

term
2

class_length
61

total_time
90

weekend
2

course_difficulty
3

In [76]:
df.reset_index(drop = True)

,section_type,instructor_id,facility_code,start_time,mon,tues,wed,thurs,fri,subject_name,course_name,a_proportion,f_proportion,avg_grade,year,term,class_length,total_time,weekend,course_difficulty
0,lec,other,NaN,-1.0,False,False,False,False,False,communication arts,introduction to speech composition,0.250000,0.000000,3.625000,15,spring,0.0,0,False,elementary
1,lec,other,0545,660.0,False,True,False,True,False,communication arts,introduction to speech composition,0.230769,0.000000,3.346154,15,spring,75.0,150,False,elementary
2,lec,other,0545,660.0,False,True,False,True,False,communication arts,introduction to speech composition,0.153846,0.000000,3.500000,15,spring,75.0,150,False,elementary
3,lec,other,0545,595.0,True,False,True,False,True,communication arts,introduction to speech composition,0.500000,0.000000,3.750000,15,spring,50.0,150,False,elementary
4,lec,other,0545,595.0,True,False,True,False,True,communication arts,introduction to speech composition,0.363636,0.000000,3.454545,15,spring,50.0,150,False,elementary
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49486,lec,other,0093,800.0,True,True,False,False,True,comparative biosciences,other,0.111111,0.012346,3.000000,09,fall,50.0,150,False,advanced
49487,lec,other,0093,800.0,True,True,False,False,True,comparative biosciences,other,0.209877,0.000000,3.308642,11,fall,50.0,150,False,advanced
49488,lec,other,0093,800.0,True,True,False,False,True,comparative biosciences,other,0.261364,0.000000,3.210227,16,fall,50.0,150,False,advanced
49489,lec,other,0093,800.0,True,True,False,False,True,comparative biosciences,other,0.225000,0.012500,3.087500,10,fall,50.0,150,False,advanced
49490,lab,other,0021,660.0,True,False,True,False,False,physical educ activity progm,other,0.611111,0.055556,3.583333,07,spring,65.0,130,False,elementary

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49491 entries, 12 to 64185
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   section_type       49491 non-null  object
 1   instructor_id      49491 non-null  object
 2   facility_code      45654 non-null  object
 3   start_time         49491 non-null  float64
 4   mon                49491 non-null  object
 5   tues               49491 non-null  object
 6   wed                49491 non-null  object
 7   thurs              49491 non-null  object
 8   fri                49491 non-null  object
 9   subject_name       49491 non-null  object
 10  course_name        49491 non-null  object
 11  a_proportion       49491 non-null  float64
 12  f_proportion       49491 non-null  float64
 13  avg_grade          49491 non-null  float64
 14  year               49491 non-null  object
 15  term               49491 non-null  object
 16  class_length       49491 non-null  float64
 17  total_time         49491 non-null  int64
 18  weekend            49491 non-null  object
 19  course_difficulty  49491 non-null  object
dtypes: float64(5), int64(1), object(14)
memory usage: 7.9+ MB

In [78]:
df.head(10)

,section_type,instructor_id,facility_code,start_time,mon,tues,wed,thurs,fri,subject_name,course_name,a_proportion,f_proportion,avg_grade,year,term,class_length,total_time,weekend,course_difficulty
12,lec,other,NaN,-1.0,False,False,False,False,False,communication arts,introduction to speech composition,0.250000,0.0,3.625000,15,spring,0.0,0,False,elementary
13,lec,other,0545,660.0,False,True,False,True,False,communication arts,introduction to speech composition,0.230769,0.0,3.346154,15,spring,75.0,150,False,elementary
14,lec,other,0545,660.0,False,True,False,True,False,communication arts,introduction to speech composition,0.153846,0.0,3.500000,15,spring,75.0,150,False,elementary
15,lec,other,0545,595.0,True,False,True,False,True,communication arts,introduction to speech composition,0.500000,0.0,3.750000,15,spring,50.0,150,False,elementary
16,lec,other,0545,595.0,True,False,True,False,True,communication arts,introduction to speech composition,0.363636,0.0,3.454545,15,spring,50.0,150,False,elementary
17,lec,other,0545,595.0,True,False,True,False,True,communication arts,introduction to speech composition,0.333333,0.0,3.416667,15,spring,50.0,150,False,elementary
18,lec,other,0545,595.0,True,False,True,False,True,communication arts,introduction to speech composition,0.400000,0.0,3.550000,15,spring,50.0,150,False,elementary
19,lec,other,0545,660.0,True,False,True,False,True,communication arts,introduction to speech composition,0.384615,0.0,3.653846,15,spring,50.0,150,False,elementary
20,lec,other,0545,660.0,True,False,True,False,True,communication arts,introduction to speech composition,0.083333,0.0,3.291667,15,spring,50.0,150,False,elementary
21,lec,other,0545,660.0,True,False,True,False,True,communication arts,introduction to speech composition,0.333333,0.0,3.333333,15,spring,50.0,150,False,elementary

## Further refinement ideas

There are catergories here that can potentially be grouped up into larger categories; keep this in mind to come back to and test the algorithm on (e.g. asian languages and cultures and asian languages and cultures: languages).

Consider some way to reduce co-linearity among days of the week columns (there is probably a pattern that many classes meet mwf or tr, and we want to minimize the effect of this pattern).

# Final data dictionary

Feature columns:
- section_type: such as lecture, discussion, field, etc.
- instructor_id: instructor
- facility_code: building
- start_time: start time of class in minutes (-1: no start time assigned)
- mon, tues, wed, thurs, fri, weekend: if class meets on that day
- subject_name: subject
- year: academic year (calendar year of spring term)
- term: fall or spring
- course_name: same for same course across terms
- course_difficulty: based on course numbering system
- class_length: number of minutes between start and end time
- total_time: number of contact minutes per week

Target columns:
- a_proportion, f_proportion: proportion (0-1) of A/F letter grades awarded (out of all letter grades awarded)
- avg_grade: average grade on 4.0 scale counting all letter grades awarded

# Check for (and delete) unnecessary columns

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49491 entries, 12 to 64185
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   section_type       49491 non-null  object
 1   instructor_id      49491 non-null  object
 2   facility_code      45654 non-null  object
 3   start_time         49491 non-null  float64
 4   mon                49491 non-null  object
 5   tues               49491 non-null  object
 6   wed                49491 non-null  object
 7   thurs              49491 non-null  object
 8   fri                49491 non-null  object
 9   subject_name       49491 non-null  object
 10  course_name        49491 non-null  object
 11  a_proportion       49491 non-null  float64
 12  f_proportion       49491 non-null  float64
 13  avg_grade          49491 non-null  float64
 14  year               49491 non-null  object
 15  term               49491 non-null  object
 16  class_length       49491 non-null  float64
 17  total_time         49491 non-null  int64
 18  weekend            49491 non-null  object
 19  course_difficulty  49491 non-null  object
dtypes: float64(5), int64(1), object(14)
memory usage: 7.9+ MB

These are all potentially predictive feature columns or target columns.

# Check for (and delete) duplicates

In [80]:
# check for duplicates
df.duplicated().sum()

479

In [81]:
# drop
df.drop_duplicates(inplace = True)

In [82]:
# check again
df.duplicated().sum()

0

# Identify and address missing values

In [83]:
df.isna().sum()

section_type            0
instructor_id           0
facility_code        3491
start_time              0
mon                     0
tues                    0
wed                     0
thurs                   0
fri                     0
subject_name            0
course_name             0
a_proportion            0
f_proportion            0
avg_grade               0
year                    0
term                    0
class_length            0
total_time              0
weekend                 0
course_difficulty       0
dtype: int64

The only column missing values is 'facility_code'. This is the column that gives the building where the section was held. Missing values here could mean that the section was never assigned a classroom (i.e., that it was up to the instructor and students to arrange their own meeting place). 

In machine learning preprocessing, I plan to impute these missing values with the constant 'missing'.

# Identify and correct inconsistencies in categorical values

In [84]:
df.dtypes

section_type          object
instructor_id         object
facility_code         object
start_time           float64
mon                   object
tues                  object
wed                   object
thurs                 object
fri                   object
subject_name          object
course_name           object
a_proportion         float64
f_proportion         float64
avg_grade            float64
year                  object
term                  object
class_length         float64
total_time             int64
weekend               object
course_difficulty     object
dtype: object

In [85]:
# check values in 'object' columns
dtypes = df.dtypes
object_dtypes = dtypes[dtypes == 'object']

for column in object_dtypes.index:
  print(column)
  print(df[column].unique())
  print()

section_type
['lec' 'ind' 'lab' 'fld' 'sem' 'dis']

instructor_id
['other' 3900615.0 4275432.0 912304.0 2601642.0 2601812.0 309711.0
 811223.0 3659559.0 3215013.0 562475.0 2600783.0 3218880.0 4387544.0
 685141.0 267927.0 2600075.0 2602168.0 958256.0 2601082.0 3189997.0
 2602066.0 2600729.0 2600679.0 335843.0 1112569.0 566960.0 2601820.0
 3922122.0 3949560.0 2602076.0 3089128.0 3234517.0 3088636.0 2601022.0
 160531.0 1265677.0 3226099.0 3555006.0 377240.0 631912.0 1581151.0
 886751.0 3013497.0 663146.0 464468.0 714123.0 4587177.0 4162682.0
 623858.0 135311.0 965150.0 2601878.0 2601467.0 680398.0 3560127.0
 5099437.0 659531.0 2600239.0 342827.0 5614845.0 4942976.0 4131298.0
 2601307.0 2601912.0 984470.0 964473.0 464620.0 4616025.0 809212.0
 3357394.0 4197612.0 777651.0 960897.0 190420.0 2600267.0 2601068.0
 4530799.0 4187113.0 2601161.0 2601064.0 3128595.0 2602070.0 344599.0
 682267.0 260106.0 815179.0 747510.0 2600361.0 520440.0 810900.0 1076688.0
 2601749.0 103165.0 3031297.0 427946.0 3555902.0 465586.0 712293.0
 2601788.0 124092.0 2600533.0 2601244.0 3356405.0 4232086.0 2602071.0
 2601573.0 165539.0 2600954.0 3039908.0 3357721.0 3128549.0 4678634.0
 216391.0 505190.0 2601973.0 296378.0 2601565.0 2600407.0 3011916.0
 4616868.0 2600197.0 795078.0 2601570.0 437312.0 3469441.0 2600456.0
 155005.0 3574850.0 900201.0 3067688.0 4195561.0 1005245.0 2600859.0
 860729.0 126549.0 412406.0 3218849.0 198528.0 3919940.0 249049.0
 4391727.0 3374761.0 2600570.0 4198858.0 4232087.0 922322.0 840786.0
 768391.0 3382514.0 201172.0 110350.0 740536.0 710039.0 783847.0 4435787.0
 4197306.0 5104316.0 2601043.0 2600759.0 2600758.0 2601502.0 441546.0
 2600039.0 496397.0 690601.0 3088630.0 3368498.0 235413.0 3793122.0
 724351.0 2601181.0 2601947.0 280437.0 3673656.0 4699168.0 623712.0
 481740.0 899785.0 318683.0 2601948.0 2602053.0 470563.0 2600559.0
 200343.0 602374.0 2601148.0 2602137.0 422687.0 5315426.0 2600052.0
 2600534.0 2602091.0 3615604.0 585086.0 2600403.0 423731.0 3950847.0
 2601030.0 596560.0 550736.0 2601747.0 718608.0 239252.0 819732.0 157057.0
 2601527.0 650044.0 321657.0 3234399.0 130429.0 3467855.0 5117944.0
 2600861.0 1005574.0 1051439.0 446645.0 573481.0 133526.0 692771.0
 718942.0 3398418.0 172570.0 2601715.0 433941.0 2601066.0 3088639.0
 509760.0 556159.0 4384631.0 367808.0 4753016.0 1131238.0 4397528.0
 2601562.0 2601616.0 2601937.0 2601758.0 475025.0 537957.0 4440791.0
 2602124.0 3374762.0 3374868.0 4083702.0 3674862.0 2601970.0 2600822.0
 2600921.0 264667.0 2600945.0 934395.0 2601851.0 3012375.0 4193311.0
 2600112.0 2600232.0 2600080.0 3076440.0 5476239.0 685944.0 4841799.0
 2601801.0 106122.0 671145.0 2600223.0 693634.0 345391.0 3949360.0
 3179723.0 1600563.0 3029337.0 980056.0 2600282.0 3012348.0 712619.0
 671929.0 253246.0 3474621.0 298410.0 2600624.0 2600382.0 3013586.0
 2602190.0 2602170.0 832223.0 177229.0 2601554.0 257427.0 264222.0
 3213517.0 4679255.0 636841.0 596820.0 315329.0 3484297.0 3784718.0
 215332.0 3012883.0 3105692.0 3351882.0 2602103.0 2600807.0 2602077.0
 1040405.0 2600422.0 2600258.0 2601381.0 807290.0 2600182.0 2601997.0
 2601041.0 4189445.0 131924.0 2601882.0 2601686.0 508990.0 3148654.0
 4458802.0 4259746.0 3471110.0 2601745.0 3233892.0 4446077.0 3756822.0
 1633008.0 760431.0 421414.0 818841.0 225350.0 806537.0 4124270.0
 1600979.0 3233889.0 428512.0 4931234.0 4938702.0 3088626.0 3437415.0
 4004545.0 3039903.0 573312.0 4916562.0 2601630.0 1067939.0 2601808.0
 393380.0 143932.0 2600056.0 3040651.0 1017545.0 3041045.0 3233885.0
 4004540.0 4004543.0 117305.0 4396446.0 3214633.0 2601246.0 2601318.0
 3213526.0 4616029.0 4931232.0 4004539.0 105416.0 2600937.0 4384099.0
 2600287.0 2601900.0 710873.0 3662401.0 2601382.0 2601762.0 527820.0
 940337.0 3437385.0 2601091.0 608997.0 1056851.0 2600133.0 4930362.0
 3352933.0 2601810.0 202218.0 2600453.0 597345.0 838903.0 3919938.0
 2601124.0 447664.0 880292.0 2602001.0 2602081.0 950705.0 4183452.0
 2600598.0 3232267.0 1578027.0 3348540.0 2600628.0 304898.0 4111872.0
 3214961.0 332957.0 2600728.0 3124415.0 498201.0 5108957.0 4539921.0
 470031.0 325208.0 3383097.0 225453.0 2601487.0 2600607.0 4083699.0
 3128543.0 3675595.0 4174092.0 1127599.0 140460.0 4109651.0 593987.0
 2601129.0 246667.0 977376.0 1423372.0 654739.0 673502.0 2601863.0
 1088502.0 2600213.0 2601053.0 368932.0 2601894.0 714165.0 3089125.0
 565790.0 2600409.0 3116363.0 2602098.0 777854.0 4611259.0 3044764.0
 3125250.0 2600473.0 204353.0 2600144.0 3127390.0 2601319.0 3484595.0
 4930360.0 2601150.0 3039898.0 776613.0 728205.0 2600699.0 3216300.0
 2601320.0 2601672.0 839802.0 3669416.0 2601605.0 271216.0 4198861.0
 1111933.0 2601522.0 2600560.0 1591621.0 408564.0 2602196.0 3370746.0
 302280.0 159304.0 156269.0 2601242.0 2601706.0 3011973.0 319547.0
 4449171.0 4697060.0 999979.0 921047.0 716313.0 697108.0 526677.0 618034.0
 590681.0 2601193.0 2600071.0 998511.0 5124092.0 3922123.0 774931.0
 462973.0 201810.0 807999.0 4538767.0 3013999.0 904512.0 599888.0
 2604580.0 717098.0 2600012.0 146785.0 2600644.0 366212.0 3979887.0
 1663711.0 562884.0 2600831.0 2600609.0 2601850.0 684778.0 4841162.0
 2600795.0 426165.0 1062990.0 350836.0 3333089.0 530937.0 2600918.0]

facility_code
[nan '0545' '1245' '1246' '0567' '0154' '0469' '0400' '0574c' '1245c'
 '1246c' '1243' '0140' '0560' '0056' '0054' '0050' '0470' '0408' '0046'
 '0048' '0084' '0047' '0055' '0057' '0482' '0070' 'online' 'off campus'
 '0074b' '0087c' '0053' '0080' '0129' '0544' '1079' '0407' '0449' '0114'
 '0485' '0085' '0118' '0031' '1480' '0155' '0044' '1400' '0402' '0404'
 '0481' '0557' '0153' '0032' '0106' '0060' '0450' '0087a' '0137' '0453'
 '0078' '0082' '0102' '0018' '0083' '0076' '0115' '0110' '0052' '0430'
 '0576' '0452' '0220' '0084b' '0034' '1400e' '1405e' '0035' '1405g' '0520'
 '0486' '1485' '0762' '0093' '1400g' '0039' '0451c' '0451b' '0468' '0011'
 '0451a' '0521' '1406k' '0205' '0204' '0508' '0479' '0033' '0156' '0506'
 '1247c' '0000' '0021' '0099' '0464' '0015' '0025' '1404k' '0403' '0503'
 '1095' '0505' '0103' '0028' '0038' '0782' '0092d' '0123' '1400k' '0116'
 '0476']

mon
[False True]

tues
[False True]

wed
[False True]

thurs
[False True]

fri
[False True]

subject_name
['communication arts' 'atmospheric and oceanic sciences' 'history'
 'international studies' 'physics' 'sociology' 'nutritional sciences'
 'music-performance' 'music' 'engineering professional development'
 'interdisciplinary courses (cals)' 'theatre and drama'
 'journalism and mass communication' 'english' 'geography' 'naval science'
 'integrated liberal studies' 'art history'
 'electrical and computer engineering' 'mathematics' 'dance'
 'landscape architecture' 'interdisciplinary courses (l&s)' 'horticulture'
 'biological systems engineering' 'scandinavian studies'
 'consumer science' 'literature in translation' 'biochemistry'
 'mechanical engineering' 'microbiology' 'food science' 'dairy science'
 'east asian languages and literature' 'agronomy'
 'forest and wildlife ecology' 'zoology' 'entomology'
 'interdisciplinary courses (sohe)' 'genetics' 'chemistry'
 'community and environmental sociology' 'plant pathology'
 'italian (french and italian)'
 'rehabilitation psychology and special education'
 'accounting and information systems' 'languages and cultures of asia'
 'management and human resources' 'kinesiology' 'nursing'
 'general business' 'interdisciplinary courses (engineering)'
 'east asian area studies' 'pharmacy practice'
 'collaborative nursing program'
 'languages and cultures of asia - languages' 'computer sciences'
 'psychology' 'biomedical engineering' 'botany' 'geoscience'
 'political science' 'human development and family studies'
 'finance, investment and banking' 'information systems'
 'real estate and urban land economics' 'african languages and literature'
 'curriculum and instruction' 'biology'
 'agricultural and applied economics' 'life sciences communication'
 'animal sciences' 'german' 'marketing' 'religious studies'
 'geological engineering'
 'environmental studies - gaylord nelson institute'
 'industrial and systems engineering'
 'civil and environmental engineering' 'art department'
 'library and information studies' 'engineering physics'
 'educational leadership and policy analysis' 'population health sciences'
 'educational psychology' 'pharmaceutical sciences'
 'chemical and biological engineering' 'social work'
 'engineering mechanics and astronautics' 'educational policy studies'
 'nuclear engineering' 'counseling psychology'
 'physician assistant program' 'design studies' 'physical therapy'
 'surgical sciences' 'medical physics' 'physiology' 'oncology'
 'medical sciences - veterinary medicine' 'patho-biological sciences'
 'medical microbiology and immunology' 'anthropology' 'soil science'
 'medicine' 'spanish (spanish and portuguese)' 'biomolecular chemistry'
 'human oncology' 'slavic (slavic languages)' 'family medicine'
 'communication sciences and disorders' 'legal studies'
 'comparative biosciences' 'psychiatry' 'surgery' 'comparative literature'
 'american indian studies' 'anatomy' 'ophthalmology and visual sciences'
 'pathology and laboratory medicine' 'pediatrics' 'neurology'
 'obstetrics and gynecology' 'neurological surgery' 'neuroscience'
 'neuroscience training program' 'gender and womenâ€™s studies'
 'biology core curriculum' 'biostatistics and medical informatics'
 'history of science' 'social and administrative pharmacy'
 'cell and regenerative biology' 'medical genetics' 'astronomy'
 'medical sciences - medical school' 'afro-american studies'
 'chicana/o and latina/o studies' 'linguistics'
 'molecular and environmental toxicology center'
 'operations and technology management'
 'latin american, caribbean, and iberian studies' 'international business'
 'jewish studies' 'agroecology' 'civil society and community studies'
 'folklore program' 'wildlife ecology' 'materials science and engineering'
 'integrated science' 'classics' 'french (french and italian)'
 'philosophy' 'economics' 'statistics' 'asian american studies'
 'greek (classics)' 'hebrew' 'portuguese (spanish and portuguese)'
 'science and technology studies' 'risk management and insurance'
 'actuarial science' 'latin (classics)' 'medical history and bioethics'
 'physical educ activity progm' 'urban and regional planning'
 'english as a second language' 'farm & industry short course'
 'clinical laboratory science' 'air force aerospace studies'
 'medieval studies' 'occupational therapy (department of kinesiology)'
 'military science' 'therapeutic science (department of kinesiology)'
 'professional orientation' 'molecular biology' 'hebrew-modern' 'law'
 'art education (department of art)' 'pharmacy'
 'animal health and biomedical sciences']

course_name
['introduction to speech composition' 'other' 'general physics'
 'american society: how it really works' 'nutrition today'
 'basic concepts of music theory' 'theatre production laboratory'
 'directed study'
 'history of western art ii: from renaissance to contemporary'
 'elementary/intermediate voice'
 'introductory experience in electrical engineering'
 'calculus and analytic geometry 1' 'calculus and analytic geometry 2'
 'elementary/intermediate violin' 'ensemble-brass' 'ensemble-string'
 'consumer finance' 'in translation: the tales of hans christian andersen'
 'independent study' 'directed studies in zoology'
 'individuals with disabilities' 'accounting principles'
 'topics in languages and cultures of asia' 'managing organizations'
 'practicum in kinesiology' 'business law'
 'social studies topics in east asian studies' 'business statistics'
 'intermediate business statistics'
 'transitions: practice, professional and personal'
 'problem solving using computers' 'issues in psychology'
 'techniques in ordinary differential equations'
 'elementary matrix and linear algebra' 'introduction to dynamic systems'
 'survey of japanese literature' 'contemporary topics' 'special topics'
 'proseminar' 'coordinative internship/cooperative education'
 'topics in political science' 'topics in religious studies - humanities'
 'selected topics in political science'
 'special topics: social perspectives in environmental studies'
 'advanced voice' 'current topics in psychology'
 'engineering design with polymers' 'electric power systems'
 'advanced violin' 'information agencies and their environment'
 'clinical field experience in athletic training'
 'online searching for information professionals'
 'special topics in nursing' 'selected topics in pharmacy practice'
 'mechanical engineering projects i' 'topics in sociology'
 'special topics in music'
 'rehabilitation-counseling psychology: applications'
 'workshop in educational leadership and policy analysis'
 'contemporary issues in educational psychology'
 'organization of information' 'current topics in dance: workshop'
 'special topics in chemical engineering' 'advanced ensemble-string'
 'contemporary practices in nursing' 'special problems'
 'problems in educational policy'
 'special topics in electrical and computer engineering'
 'special topics in mechanical engineering'
 'special topics in biomedical engineering' 'research topics'
 'special topics in theatre and drama'
 'special topics in counseling and guidance'
 'capstone mentored research and seminar' 'mentored research and seminar'
 'internship in rehabilitation or special education'
 'reference and information service'
 'pedagogical theory and practice for information professionals'
 'digital tools, trends and debates' 'information services management'
 'collection management' 'general seminar' 'selected topics in physiology'
 'advanced or special topics in cancer research'
 'special topics in mass communication' 'independent field work'
 'special topics in engineering professional development'
 'special topics in industrial engineering' 'directed creative writing'
 'problems in clinical psychology' 'problems in human behavior'
 'special topics in construction engineering and management'
 'independent reading' 'independent work' 'advanced independent study'
 'independent reading undergrad' 'directed study in research'
 'survey of chinese literature' 'advanced assessment'
 'topics in library and information studies' 'community health nursing'
 'problems in developmental psychology' 'undergraduate seminar'
 'personal and professional foundations in business'
 'technical communication'
 'clinical iii: community health nursing practicum'
 'nursing care of persons and families with complex health care needs'
 'topics in contemporary social welfare' 'introduction to art'
 'historical studies' "the historian's craft"
 'explorations in european history (h)' 'communication and human behavior'
 'child abuse and neglect'
 'generalist practice with communities and organizations'
 'theme in 19th c amer lit' 'introduction to programming'
 'topics in anatomy' 'television industries'
 'introduction to college composition' 'intermediate algebra'
 'intermediate composition' 'introduction to cartography'
 'strategic media planning' 'issues in american indian studies'
 'environmental studies major capstone' 'freshman composition'
 'introduction to philosophy' 'introductory ethics'
 'contemporary moral issues' 'college geometry i' 'modern algebra'
 'analysis ii' 'algebra' 'analysis i'
 'intermediate language practice with emphasis on writing and grammar'
 'advanced language practice' 'topics in political philosophy'
 'intermediate german-writing' 'advanced conversation'
 'statistics: measurement in economics' 'classical sociological theory'
 'game theory and economic analysis'
 'introduction to theory and methods of mathematical statistics i'
 'applied mathematical analysis' 'topics in spanish language practice'
 'spanish civilization'
 'special topics in gender, women and the humanities'
 "capstone seminar in gender and women's studies"
 'topics in asian american studies' 'reason in communication'
 'introduction to theory and methods of mathematical statistics ii'
 'linear algebra and differential equations'
 'introduction to spanish linguistics' 'spanish phonetics'
 'introduction to literature of modernity' 'topics in hispanic culture'
 'special topics in rhetoric and public address' 'special topics in film'
 'intermediate microeconomic theory'
 'introductory applied statistics for the life sciences'
 'problems of american racial and ethnic minorities'
 'introduction to literary analysis' 'survey of modern spanish literature'
 'composition and conversation i' 'survey of spanish american literature'
 'introduction to medieval, renaissance, and early modern literature'
 'survey of early hispanic literature' 'intermediate german-reading'
 'shakespeare' 'history of modern philosophy'
 'intermediate macroeconomic theory'
 'introduction to hispanic literatures' 'literatura hispanoamericana'
 'first-year seminar in the social sciences'
 'the theory of single variable calculus' 'elementary topology'
 'introduction to hispanic cultures' 'seminar in the major'
 'advanced composition & conversation'
 'human resources development: educational effectiveness'
 'topics in legal studies and the social sciences'
 'introductory econometrics' 'consumer behavior'
 'survey of japanese literature in translation' 'bascom course'
 'topics in biology' 'special topics in philosophy for freshmen'
 'first-year seminar in the humanities'
 'introductory financial accounting' 'introductory managerial accounting'
 'financial reporting i' 'financial reporting ii'
 'cost management systems.' 'marketing research' 'real estate law'
 'accounting systems' 'marketing strategy' 'fundamentals of taxation'
 'professional communication' 'strategic management'
 'financial statement analysis' 'science and technology newswriting'
 'introduction to scientific communication' 'modernity studies'
 'topics in legal studies and the humanities' 'marriage and family'
 'stress and resilience in families across the lifespan'
 'honors course-introduction to psychology'
 'undergraduate topics in computing' 'structure of english' 'trigonometry'
 'school and society' 'fourth year composition and conversation'
 'introduction to italian literature' 'topics in german culture'
 'introduction to data structures' 'creative campaign messages'
 'special topics in advanced concepts and skills'
 'introduction to agricultural and applied economics'
 'business organizations and negotiable instruments' 'corporation finance'
 'derivative securities' 'advanced financial reporting'
 'strategic retailing' 'real estate finance' 'entrepreneurial management'
 'marketing channels' 'loss models i'
 'information technology, risk, and assurance services'
 'corporate and advanced taxation' 'elementary logic'
 'special topics in women and health'
 'exploring french: intermediate-level course for entering students'
 'international trade and finance'
 'introduction to international relations'
 'introduction to american politics and government'
 'introduction to statistical methods'
 'quantitative reasoning and problem solving' 'calculus'
 'calculus--functions of several variables' 'topics-finite mathematics'
 'introduction to operating systems' 'topics in archaeology'
 'the making of modern europe 1500-1815'
 'racial ethnic families in the u.s.' 'introduction to political theory'
 'introductory statistics for engineers'
 'introductory applied statistics for engineers'
 'intermediate language and culture'
 'introduction to medieval, renaissance, and early modern civilization'
 'advanced composition and conversation'
 'mathematics for teaching: geometry and measurement' 'process synthesis'
 'introduction to programming languages and compilers'
 'introduction to algorithms' 'general chemistry i' 'general chemistry ii'
 'basic statistics for psychology' 'research methods'
 'thermodynamics of mixtures' 'intermediate organic chemistry'
 'electrodynamics i' 'principles of risk management'
 'introduction to numerical methods' 'practicum in finite elements'
 'special topics in transportation and city planning'

In [86]:
# check values in numeric columns
df.describe(include = 'number')

,start_time,a_proportion,f_proportion,avg_grade,class_length,total_time
count,49012.000000,49012.000000,49012.000000,49012.000000,49012.000000,49012.000000
mean,676.647494,0.514208,0.008356,3.514628,74.034012,147.119073
std,241.312605,0.293018,0.023905,0.374382,48.227477,124.701743
min,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,570.000000,0.264706,0.000000,3.264706,50.000000,115.000000
50%,660.000000,0.461804,0.000000,3.559322,75.000000,150.000000
75%,865.000000,0.764706,0.000000,3.833333,75.000000,150.000000
max,1260.000000,1.000000,1.000000,4.000000,600.000000,3000.000000

- 'start_time':
  - Values of -1 mean that there is no assigned start time for the course.
  - The max start time is 1260 minutes, which is 9pm.

- 'a_proportion' and 'f_proportion' are between 0 and 1.

- 'avg_grade' is between 0 and 4.

- 'class_length' and 'total_time':
  - The min values are 0, which represent courses that were not assigned a meeting time/schedule.
  - The max values are interesting. A 'class_length' value of 600 minutes (10 hours) is unusual, and a 'total_time' value of 3000 minutes (50) is also unusual. In my experience, college courses rarely (if ever) meet for 10 hours per week, much less 10 hours at a time.

In [87]:
df[df['class_length'] == 600]

,section_type,instructor_id,facility_code,start_time,mon,tues,wed,thurs,fri,subject_name,course_name,a_proportion,f_proportion,avg_grade,year,term,class_length,total_time,weekend,course_difficulty
11462,sem,other,NaN,480.0,False,False,True,False,False,international studies,other,1.000000,0.0,4.000000,11,spring,600.0,600,False,advanced
12557,fld,685944.0,off campus,420.0,True,True,True,True,True,physician assistant program,other,0.875000,0.0,3.937500,10,fall,600.0,3000,False,advanced
12558,fld,685944.0,off campus,420.0,True,True,True,True,True,physician assistant program,other,0.857143,0.0,3.892857,11,fall,600.0,3000,False,advanced
12559,fld,685944.0,off campus,420.0,True,True,True,True,True,physician assistant program,other,0.545455,0.0,3.772727,11,fall,600.0,3000,False,advanced
55821,fld,other,off campus,480.0,True,True,True,True,True,medical sciences - veterinary medicine,other,1.000000,0.0,4.000000,17,spring,600.0,3000,False,advanced
55822,fld,other,off campus,480.0,True,True,True,True,True,medical sciences - veterinary medicine,other,1.000000,0.0,4.000000,16,spring,600.0,3000,False,advanced
59114,fld,685944.0,off campus,420.0,True,True,True,True,True,physician assistant program,other,0.928571,0.0,3.964286,10,fall,600.0,3000,False,advanced
59115,fld,685944.0,off campus,420.0,True,True,True,True,True,physician assistant program,other,0.833333,0.0,3.875000,11,fall,600.0,3000,False,advanced
59124,fld,685944.0,off campus,420.0,True,True,True,True,True,physician assistant program,other,0.833333,0.0,3.916667,10,fall,600.0,3000,False,advanced
59125,fld,685944.0,off campus,420.0,True,True,True,True,True,physician assistant program,other,0.916667,0.0,3.958333,11,fall,600.0,3000,False,advanced

In [88]:
df[df['total_time'] == 3000]

,section_type,instructor_id,facility_code,start_time,mon,tues,wed,thurs,fri,subject_name,course_name,a_proportion,f_proportion,avg_grade,year,term,class_length,total_time,weekend,course_difficulty
12557,fld,685944.0,off campus,420.0,True,True,True,True,True,physician assistant program,other,0.875000,0.0,3.937500,10,fall,600.0,3000,False,advanced
12558,fld,685944.0,off campus,420.0,True,True,True,True,True,physician assistant program,other,0.857143,0.0,3.892857,11,fall,600.0,3000,False,advanced
12559,fld,685944.0,off campus,420.0,True,True,True,True,True,physician assistant program,other,0.545455,0.0,3.772727,11,fall,600.0,3000,False,advanced
55821,fld,other,off campus,480.0,True,True,True,True,True,medical sciences - veterinary medicine,other,1.000000,0.0,4.000000,17,spring,600.0,3000,False,advanced
55822,fld,other,off campus,480.0,True,True,True,True,True,medical sciences - veterinary medicine,other,1.000000,0.0,4.000000,16,spring,600.0,3000,False,advanced
59114,fld,685944.0,off campus,420.0,True,True,True,True,True,physician assistant program,other,0.928571,0.0,3.964286,10,fall,600.0,3000,False,advanced
59115,fld,685944.0,off campus,420.0,True,True,True,True,True,physician assistant program,other,0.833333,0.0,3.875000,11,fall,600.0,3000,False,advanced
59124,fld,685944.0,off campus,420.0,True,True,True,True,True,physician assistant program,other,0.833333,0.0,3.916667,10,fall,600.0,3000,False,advanced
59125,fld,685944.0,off campus,420.0,True,True,True,True,True,physician assistant program,other,0.916667,0.0,3.958333,11,fall,600.0,3000,False,advanced

It looks like all of the courses with 600 minutes as their 'class_length' and 3000 minutes (600 * 5) as their 'total_time' are the same courses. They are all at the advanced level and are either 'field' classes. Based on their course names, I expect these are internship-like courses, where the student is expected to block off the entire workweek for the course and intern in an off-campus location for credit. This seems plausible, so I will keep these values.

The course that isn't a 'field' course is the seminar in international studies that meets for 600 minutes on one day of the week. This seems very unusual, but without any more information about it, I will keep it.

# Export to csv

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49012 entries, 12 to 64185
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   section_type       49012 non-null  object
 1   instructor_id      49012 non-null  object
 2   facility_code      45521 non-null  object
 3   start_time         49012 non-null  float64
 4   mon                49012 non-null  object
 5   tues               49012 non-null  object
 6   wed                49012 non-null  object
 7   thurs              49012 non-null  object
 8   fri                49012 non-null  object
 9   subject_name       49012 non-null  object
 10  course_name        49012 non-null  object
 11  a_proportion       49012 non-null  float64
 12  f_proportion       49012 non-null  float64
 13  avg_grade          49012 non-null  float64
 14  year               49012 non-null  object
 15  term               49012 non-null  object
 16  class_length       49012 non-null  float64
 17  total_time         49012 non-null  int64
 18  weekend            49012 non-null  object
 19  course_difficulty  49012 non-null  object
dtypes: float64(5), int64(1), object(14)
memory usage: 7.9+ MB

In [113]:
df.to_csv('/content/drive/MyDrive/Coding Dojo/Project 2/all_grades_data_cleaned.csv')